<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Stream</title>
    <link rel="icon" href="../static/live-streaming.png">
    <style>
        .container {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100vh;
            background-color: dimgray;
            color: white;
            text-align: center;
            font-family: monospace;
        }
        .button:hover {
            background-color: lightgray;
            color: white;
        }
    </style>
</head>
<body class="container">

    <h2>Video Stream Page</h2>

    <img src="{{ url_for('video_feed_stream') }}"> <br><br>

    <script>
    function main_page() {
        window.location="{{ url_for('index') }}";
    }
    </script>

    <button onclick="main_page()"; class="button"> Main Page </button>

</body>
</html>